<div class="card text-center mt-5">
  <div class="card-body">
    <h5 class="card-title"> Friend List application </h5>
    <p class="card-text"> Designed and Developed with Love by Siraj </p>
    <a href="https://sirajsaleem.com" class="btn btn-primary me-2" id="phone-size">My Portfolio</a>
    <a href="https://github.com/sirajms5" class="btn btn-primary me-2" id="phone-size">GitHub <i class="fab fa-github"></i></a>
    <a href="#" class="btn btn-primary" id="phone-size"> LinkedIn <i class="fab fa-linkedin"></i></a>
  </div>
</div>